@use "../../styles/typography" as *;
@use "../../styles/color" as *;

.daycare-form{

    &__details-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        font-family: "Lato-Regular";
        margin-left: 1.5rem;
        border: 1px solid #bdc5d5;
        margin-top: 1rem;
        border-radius: 0.25rem;
    }

    &__contact-container{
        display: flex;
        flex-direction: column;
        font-family: "Lato-Regular";
        width: 50%;
        margin-right: 1.5rem;
        margin-left: 1rem;
        border: 1px solid #bdc5d5;
        margin-top: 1rem;
        border-radius: 0.25rem;
    }
    &__wrapper{
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    &__button-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        gap: 2rem;
        margin-bottom: 1rem;

    }

    &__label{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    &__input{
        height: 0.5rem;
        border: 1px solid #bdc5d5;
    }

    &__button{
        height: 2rem;
        width: 8rem;
        border-radius: 0.25rem;
border: 1px solid #bdc5d5;
padding: 4px;
background-color: #333333;
color: $white;
font-family: "Lato-Regular";
font-size: 0.83rem;

    }
}