
// Primary Colors
$primary-black: #13182c;
$primary-indigo: #2e66e5;

// Secondaty Colors
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

// Background Colors
$bg-dark: #232940;
$bg-light: #f7f8f9;

// Supporting Colors
$sup-green: #158463;
$sup-red: #c94515;

// White
$white: #ffffff;
$yellow: #FFD166;
