.star {
    color: #ffc107; /* Yellow color for filled stars */
  }

  .half-star {
    color: #ffc107; /* Yellow color for half star */
  }

  .empty-star {
    color: #808080; /* Grey color for empty stars */
  }