@use "../../styles/color" as *;
@use "../../styles/typography" as *;
@use "../../styles/global" as *;
.header {
    background-color: #333333 ;
    padding: 0 2rem 2rem 2rem;
    width: 100%;


    &__nav {
      display: flex;
      flex-direction: row;
     // align-items: center;
justify-content: baseline;
     align-items: baseline;


    }
    &__logo-image {
        color: $white;
        font-family: "Lato-Bold";
        font-size: 2rem;
        text-decoration: none;

        justify-content: baseline;

    }
    &__button-container {
      width: 100%;
      margin-top: 2rem;
      margin: 0;
      display: flex;

      list-style-type: none;
      padding-left: 0;
      flex-direction: row;
      justify-content: flex-end;

    }
    &__link-button {
      padding: 0.5rem 0;
      margin-left: 1rem;
      margin-right: 4rem;
      display: flex;
      justify-content: center;
      margin-top: 2.5rem;
      max-width: 9.68rem;
      list-style-type: none;
      border-radius: 20px;
      border: 0;
      font-size: 1.1rem;
      font-family: "Lato-Bold";
      color: $secondary-cloud;
     background-color:  #333333;
      width: 15%;
      &:hover {
        //text-decoration: underline;
        color: $white;
      }
      &.active {
        background-color: #FFD166;
        color: $primary-black;
      }
    }
    &__link {
      justify-content: center;
      color: inherit;
      text-decoration: none;
      list-style-type: none;
    }





  }
