@use "../../styles/typography" as *;
@use "../../styles/color" as *;
@use "../../styles/global" as *;
@use "../../styles/mixins" as *;


.comments {

    &__title {

        margin-left: 2rem;
        margin-top: 0;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin-bottom: 0;
        @include desktop-font-h2;


            font-weight: 700;




    }

    &__right-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 0.5rem;
        width: 100%;
    }

    &__image-container {
        margin-right: 0;
    }

    &__fields {
        display: flex;
        flex-direction: row;
        //padding-left: 1rem;
        margin-left: 2rem;
        justify-content: left;
        align-items: flex-start;
        margin-right: 1rem;
        margin-top: 0;
        padding-bottom: 1rem;



           //padding-left: 3.9rem

    }

    &__name {

        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        // color: $primary_silver;
    }

    &__name-area{

        border-radius: 0.25rem;
        padding-bottom: 1rem;
        //padding: 0.75rem;
        border: 1px solid $secondary-cloud;
width: 70%;
    }

    &__name-textBox {
        text-transform: uppercase;
        //padding-bottom: 0.5rem;
        @include itemLabel();


        &:focus {
            border: 1px solid #000;

            outline-width: 0;
        }
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-top: 1.3rem;
        margin-right: 0.5rem;

            margin-top: 1.5rem;

    }

    &__subjecttxt {

        text-transform: uppercase;
        padding-bottom: 0.5rem;
        // color: $primary_silver;
        @include itemLabel();


    }

    &__textwrap {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
        padding-right: 0rem;





            margin-right: 1rem;


    }

    &__textarea {
        height: 7rem;
        border-radius: 0.25rem;
        padding-bottom: 0.5rem;
        padding: 1rem;
width: 70%;
        border: 1px solid $secondary-cloud;

        &:focus {
            border: 1px solid #000;
            outline-width: 0;
        }



            padding-bottom: 0;


    }

    &__right-container {

            flex-direction: column;


    }

    &__button {
        margin-top: 1rem;

        text-align: center;
        margin-right: 1rem;
       padding:4px;
        text-transform: uppercase;
        border-radius: 0.25rem;
        width: 100%;
        background-color: $sup-green;
        height: 2.5rem;
        color: $white;
        border: none;
        // background-image: url("../../assets/icons/add_comment.svg");
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 1.2rem;
        border: 1px solid #000;

        &:hover {
             background-color: #D4AF37;
        }


            font-weight: 600;
            width: 13rem;
            background-position: 15px 12px;
            margin-top: 1rem;
            margin-right: 0;

    }

    &__btn-container {
        padding-top: 1rem;
    }

    &__line-bottom {
        display: none;


            display: block;
            margin-left: 2rem;

    }

    &__radio{
display: none;
    }

    &__yellowStar {
        color: yellow;
      }

      &__greyStar {
        color: grey;
      }

      &__starwrap {
        margin-top: 0.5rem;
      }
      &__star{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;

      }
      &__rating{
        @include itemLabel();
        text-transform: uppercase;
      }

      &__star-label{

        font-size: 40px;
        margin-left: 2px;
      }
}


.review {

&__sentence{
    @include desktop-font-large;
    margin-top: 0;
}

    &__date {

        justify-content: right;
        margin-top: 0.25rem;

color: $secondary-slate;
margin-right: 1rem;

    }

    &__name {
        margin-top: 0;
        margin-bottom: 0;
       // margin-left: 1rem;
       // @include mobile-font-h3;

            font-weight: 700;
            @include desktop-font-h4;

    }

    &__line {
        margin: auto;
        //color: $secondory-mercury;
        width: 100%;
        stroke-width: 1px;
        border-top: 1px solid $secondary-cloud;
        margin-top: 0;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
    }

    &__placeholder {
        height: 2.8rem;
        width: 0rem;
        border-radius: 50%;
        padding-right: 3rem;
     //   background-color: $secondory-mercury;
        background-size: cover;


            height: 3rem;
            width: 0rem;
            box-sizing: content-box;

    }

    &__text-container {
        display: flex;
        justify-content: space-between;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__delete-button {
        background: none;
        border: none;
        padding: 0;
        text-align: left;
    }

    &__image {
        width: 20px;
        height: 20px;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }

}