@use "../../styles/typography"as *;
@use "../../styles/color"as *;
@use "../../styles/global"as *;
@use "../../styles/mixins"as *;

.daycare {

    &__title {
        margin-left: 2rem;
        margin-top: 2rem;
        @include desktop-font-h2;
    }

    &__tab-headings {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        font-family: "Lato-Bold";
        font-size: 1rem;
        text-transform: uppercase;
        @include itemLabel;
        background-color: $bg-light;
        height: 2rem;
        padding-top: 0;
        padding-bottom: 0.25rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 3rem;
        border-bottom: 1px solid $secondary-cloud;
    }

    &__test {
        display: flex;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;

        &:hover {
            background-color: #f0f4fd;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        display: flex;
        flex-basis: 40%;
        margin-right: 3rem;
        font-family: "Lato-Regular";
    }

    &__headings-name {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        flex-basis: 22%;
        width: 100%;
        margin-left: 2rem;
        text-transform: uppercase;
    }

    &__headings-contact-name {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        flex-basis: 13.5%;
        width: 100%;
    }

    &__headings-rating {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        flex-basis: 17%;
        width: 100%;
    }

    &__headings-contact-info {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        flex-basis: 26%;
        width: 100%;
    }

    &__headings-address {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        padding: 0;
        margin: 0;
        flex-basis: 23%;
        width: 100%;
    }

    &__name-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        flex-basis: 70%;
        width: 100%;
        margin-left: 2rem;
    }

    &__address-container {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        padding: 0;
        margin: 0;
        flex-basis: 55%;
        width: 100%;
    }

    &__contact-info-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
        flex-basis: 22%;
    }

    &__address {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__contact-name-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-basis: 13%;
        padding-top: 1rem;
        margin-left: 1rem;
    }

    &__rating {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        padding-bottom: 0.5rem;
        width: 100%;
        flex-basis: 10%
    }
}