@use "../../styles/typography"as *;
@use "../../styles/color"as *;
@use "../../styles/mixins"as *;

.register {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #FFD700, #808080);

  &__form {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      border: 1px solid white;
      border-radius: 0.625rem;
      margin: 0.5rem;
  }

  &__container {
      display: flex;
      flex-direction: column;
  }

  &__label {
      text-align: left;
      padding: 0.25rem 0;
  }

  &__title {
      justify-content: center;
      align-items: center;
      text-align: left;
  }

  &__submit {
      height: 2rem;
      margin-top: 1rem;
  }
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0.625rem;
}

button {
  border: none;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
  color: $primary-black;
  padding:0.25rem;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}